/* ====ABOUT===*/
/* === FEATURES === */
.about .about-header {
    background: #ffffff;
    border-bottom: 1px solid #ececec;
}

.about .center-text {
    max-width: 850px;
    margin: auto;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

/* === TEAM === */
.about .team-section {
    margin-top: 150px;
    margin-bottom: 150px;;
}

.about .team {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.about .team-card {
    width: 300px;
    padding: 25px 15px;
    background: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
    transition: 0.4s;
}

.about .team-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.about .team-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #eee;
    margin-bottom: 15px;
}

.about .team-card h3 {
    padding: 10px;
}

@media (max-width: 768px) {
    .about .team {
        flex-direction: column;
        align-items: center;
    }
}
