 .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    background: white;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ddd;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar .logo {
    color: #3a88ed;
    background: linear-gradient(135deg, #46c5e5 0%, #3a88ed 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    gap: 3px;
    height: fit-content;
    align-content: center;
    font-size: 20px;
    font-weight: 900;
}

.navbar .logo img {
    background-color: rgba(52, 143, 233, 0.545);
    border-radius: 5px;
    padding: 3px;
}

.navbar .nav-links a:hover,
.navbar .active {
    color: #0077cc;
}

.navbar .nav-links a.active {
    color: #0077cc;
}

.navbar .nav-links a:hover,
.navbar .nav-links a.active {
    color: #0077cc;
}

/* === MOBILE RESPONSIVENESS === */
@media (max-width: 768px) {
   .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .nav-links {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }
}